## --------------------------------------------------
## Generic DTO parent class - generated once
## --------------------------------------------------
#parse("include/java_header.vm")

package ${target.javaPackageFromFolder(${SRC})};

import java.io.Serializable;
import lombok.Data;

/**
 * Generic DTO parent class for all DTOs
 *
 * @author Telosys
 *
 */
@Data
public abstract class GenericDTO implements Serializable {

    private static final long serialVersionUID = 1L;
}