#parse("include/java_header.vm")
##---------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import java.util.List;
import java.util.Optional;
import java.util.stream.Collectors;
import java.util.stream.StreamSupport;
import org.modelmapper.ModelMapper;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * Abstract class for REST services <br>
 *
 * @author Telosys
 *
 * @param <ENTITY>
 * @param <FLAT_DTO>  DTO de entrada con campos primitivos solamente
 * @param <DEEP_DTO>  DTO de salida con objetos y colecciones relacionadas
 */
public abstract class GenericService<ENTITY, FLAT_DTO, DEEP_DTO> {

    @Autowired
    protected ModelMapper mapper;

    private final Class<ENTITY> entityClass;
    private final Class<FLAT_DTO> flatDtoClass;
    private final Class<DEEP_DTO> deepDtoClass;

    protected GenericService(Class<ENTITY> entityClass, Class<FLAT_DTO> flatDtoClass, Class<DEEP_DTO> deepDtoClass) {
        this.entityClass  = entityClass;
        this.flatDtoClass = flatDtoClass;
        this.deepDtoClass = deepDtoClass;
    }

    /**
     * Converts FlatDTO to JPA ENTITY
     */
    protected ENTITY dtoToEntity(FLAT_DTO dto) {
        return mapper.map(dto, entityClass);
    }

    /**
     * Converts JPA ENTITY to DeepDTO
     */
    protected DEEP_DTO entityToDto(ENTITY entity) {
        return mapper.map(entity, deepDtoClass);
    }

    /**
     * Converts an Optional JPA ENTITY to DeepDTO
     */
    protected DEEP_DTO entityToDto(Optional<ENTITY> optionalEntity) {
        return optionalEntity.map(this::entityToDto).orElse(null);
    }

    /**
     * Converts a collection of JPA ENTITIES to a list of DeepDTO
     */
    protected List<DEEP_DTO> entityListToDtoList(Iterable<ENTITY> entities) {
        return StreamSupport.stream(entities.spliterator(), false)
                .map(this::entityToDto)
                .collect(Collectors.toList());
    }
}