## --------------------------------------------------
#if ( $entity.isJoinEntity() )
#cancel("No DTO class for join entity")
#end
## --------------------------------------------------
#checkId($entity)
#parse("include/init_var_entity.vm")
#parse("include/java_header.vm")
##---------------------------------------------------------------------------------------
#macro( dtoType $link )
$link.fieldType.replace($link.targetEntitySimpleType, "${link.targetEntitySimpleType}DTO")#end
##---------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import java.io.Serializable;
import lombok.Builder;
import lombok.Getter;
import lombok.Setter;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
#foreach( $import in $java.imports($entity) )
import $import;
#end

/**
 * DTO class for "${entity.name}"
 *
 * @author Telosys
 *
 */
@Getter
@Setter
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ${dtoClass} implements Serializable {

    private static final long serialVersionUID = 1L;

    //--- PRIMARY KEY 
#foreach( $attribute in $entity.keyAttributes )
    private $attribute.wrapperType $attribute.name #if($attribute.hasInitialValue())= ${attribute.initialValue} #end;
#end
    //--- OTHER DATA FIELDS 
#foreach( $attribute in $entity.nonKeyAttributes )
    private $attribute.type $attribute.name #if($attribute.hasInitialValue())= ${attribute.initialValue} #end;
#end
#if ( $entity.hasLinks() )	
    //--- LINKS ( RELATIONSHIPS )
#foreach( $link in $entity.links )
    private #dtoType($link) $link.fieldName ; 
#end
#end

    @Override
## This function generates a 'toString' method with indentation level = 1 (1 tab)
$java.toStringMethod($entity, 1)
}
