#checkId($entity)
#parse("include/init_var_entity.vm")
#parse("include/java_header.vm")
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder($SRC)};

import java.io.Serializable;
import jakarta.persistence.*;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;

#foreach( $import in $java.imports($entity.keyAttributes) )
import $import;
#end

/**
 * Composite primary key for entity "${entity.name}" ( stored in table "${entity.databaseTable}" )
 *
 * @author Telosys
 *
 */
## @Embeddable
@Entity
@Table(name = "${entity.databaseTable}")
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class $jpaEntityIdClass implements Serializable {

    private static final long serialVersionUID = 1L;

    //--- ENTITY KEY ATTRIBUTES 
#foreach( $field in $entity.keyAttributes )
## $jpa.embeddedIdAnnotations(4, $field)
    private $field.wrapperType $field.name ;
    
#end
	@Override
$java.equalsMethod($jpaEntityIdClass, $entity.keyAttributes )## no EOL

	@Override
$java.hashCodeMethod($jpaEntityIdClass, $entity.keyAttributes )## no EOL

}
