## --------------------------------------------------
#if ( $entity.isJoinEntity() )
#cancel("No CONTROLLER class for join entity")
#end
## --------------------------------------------------
#checkId($entity)
#using("REST_API_ROOT")
#parse("include/init_var_entity.vm")
#parse("include/java_header.vm")
##---------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

#foreach( $import in $java.imports($entity.keyAttributes) )
import $import;
#end
import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import ${ROOT_PKG}.rest.dto.flat.${entity.name}DTOFlat;
import ${ROOT_PKG}.rest.dto.deep.${entity.name}DTODeep;
import ${ROOT_PKG}.rest.services.${serviceClass};

##-------------------------------------------------
## init variables
##-------------------------------------------------
#set( $controllerName = "${entity.name}RestController" )
#set( $collectionName = $entity.tagValue("CollectionName", $fn.toLowerCase($entity.name) ) )
#set( $uriPath = "${REST_API_ROOT}/${collectionName}" )
#set( $flatDtoInstance = "$fn.uncapitalize($entity.name)DTOFlat" )
#set( $deepDtoInstance = "$fn.uncapitalize($entity.name)DTODeep" )
#set( $ID_ARGS = $fn.argumentsList($entity.keyAttributes) )
#set($keyAttribNames = [])
#set($keyAttribWithPathParam = [])
#foreach( $attribute in $entity.keyAttributes )
#set( $_ = $keyAttribNames.add($attribute.name) )
#set( $_ = $keyAttribWithPathParam.add("@PathVariable ${attribute.type} ${attribute.name}") )
#end
#set($REST_PATH_FOR_ID  = "/" + $fn.joinWithPrefixSuffix(${keyAttribNames}, "/", "{", "}") )
#set($REST_PARAM_FOR_ID = $fn.join($keyAttribWithPathParam, ", ") )
##-------------------------------------------------
@RestController
@RequestMapping(value = "${uriPath}", produces = MediaType.APPLICATION_JSON_VALUE)
public class ${controllerName} {

    @Autowired
    private ${serviceClass} service;

    /**
     * Get ALL
     *
     * @return 200 con lista de DTODeep
     */
    @GetMapping("")
    public ResponseEntity<List<${entity.name}DTODeep>> findAll() {
        List<${entity.name}DTODeep> list = service.findAll();
        return ResponseEntity.ok(list); // 200 OK
    }

    /**
     * Get ONE identified by the given PK
     *
#foreach( $attribute in $entity.keyAttributes )
     * @param $attribute.name
#end
     * @return 200 con DTODeep o 404 si no existe
     */
    @GetMapping("${REST_PATH_FOR_ID}")
    public ResponseEntity<${entity.name}DTODeep> findById($REST_PARAM_FOR_ID) {
        ${entity.name}DTODeep ${deepDtoInstance} = service.findById(${ID_ARGS});
        if ( ${deepDtoInstance} != null ) {
            return ResponseEntity.ok(${deepDtoInstance}); // 200 OK
        } else {
            return ResponseEntity.notFound().build(); // 404 Not found
        }
    }

    /**
     * Create
     *
     * @param ${flatDtoInstance}
     * @return 201 creado o 409 si ya existe
     */
    @PostMapping("")
    public ResponseEntity<${entity.name}DTODeep> create(@RequestBody ${entity.name}DTOFlat ${flatDtoInstance}) {
#if ($entity.hasAutoIncrementedKey())
        ${entity.name}DTODeep created = service.create(${flatDtoInstance});
        return ResponseEntity.status(HttpStatus.CREATED).body(created); // 201 Created
#else
        try {
            ${entity.name}DTODeep created = service.create(${flatDtoInstance});
            return ResponseEntity.status(HttpStatus.CREATED).body(created); // 201 Created
        } catch (RuntimeException e) {
            return ResponseEntity.status(HttpStatus.CONFLICT).build(); // 409 Conflict
        }
#end
    }

    /**
     * Update if exists
     *
#foreach( $attribute in $entity.keyAttributes )
     * @param $attribute.name
#end
     * @param ${flatDtoInstance}
     * @return 200 con DTODeep actualizado o 404 si no existe
     */
    @PutMapping("${REST_PATH_FOR_ID}")
    public ResponseEntity<${entity.name}DTODeep> update($REST_PARAM_FOR_ID, @RequestBody ${entity.name}DTOFlat ${flatDtoInstance}) {
        try {
            ${entity.name}DTODeep updated = service.update(${ID_ARGS}, ${flatDtoInstance});
            return ResponseEntity.ok(updated); // 200 OK
        } catch (RuntimeException e) {
            return ResponseEntity.notFound().build(); // 404 Not found
        }
    }

    /**
     * Delete by PK
     *
#foreach( $attribute in $entity.keyAttributes )
     * @param $attribute.name
#end
     * @return 204 eliminado o 404 si no existe
     */
    @DeleteMapping("${REST_PATH_FOR_ID}")
    public ResponseEntity<Void> deleteById($REST_PARAM_FOR_ID) {
        try {
            service.deleteById(${ID_ARGS});
            return ResponseEntity.noContent().build(); // 204 No content
        } catch (RuntimeException e) {
            return ResponseEntity.notFound().build(); // 404 Not found
        }
    }
}