## --------------------------------------------------
#if ( $entity.isJoinEntity() )
#cancel("No repository class for join entity")
#end
## --------------------------------------------------
#checkId($entity)
#parse("include/init_var_entity.vm")
#parse("include/java_header.vm")
package ${target.javaPackageFromFolder(${SRC})};
##---------------------------------------------------------------------------------------

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

import ${ROOT_PKG}.persistence.entities.${jpaEntityClass};
#if ( $entity.hasCompositePrimaryKey() )
import ${ROOT_PKG}.persistence.entities.${jpaEntityIdClass};
#else
#foreach( $import in $java.imports($entity.keyAttributes) )
import $import;
#end
#end

/**
 * Spring Data JPA repository for the ${jpaEntityClass} entity.
 *
 * This interface extends #[[{@link JpaRepository}]]#, so it automatically inherits
 * standard persistence operations, including:
 * <ul>
 *   <li> Create/update entities: #[[{@link JpaRepository#save(Object)}]]# and #[[{@link JpaRepository#saveAll(Iterable)}]]#</li>
 *   <li> Basic queries: #[[{@link JpaRepository#findById(Object)}]]#, #[[{@link JpaRepository#findAll()}]]#, and #[[{@link JpaRepository#getReferenceById(Object)}]]#</li>
 *   <li> Validation and counting: #[[{@link JpaRepository#existsById(Object)}]]# and #[[{@link JpaRepository#count()}]]#</li>
 *   <li> Deletion: #[[{@link JpaRepository#deleteById(Object)}]]#, #[[{@link JpaRepository#delete(Object)}]]#, and #[[{@link JpaRepository#deleteAll()}]]#</li>
 *   <li> Paging and sorting: #[[{@link org.springframework.data.repository.PagingAndSortingRepository#findAll(org.springframework.data.domain.Pageable)}]]#
 *     and #[[{@link org.springframework.data.repository.PagingAndSortingRepository#findAll(org.springframework.data.domain.Sort)}]]#</li>
 * </ul>
 *
 * It can also be extended with derived query methods (findBy...),
 * following Spring Data JPA conventions.
 *
 * @category Repository
 * @version 1.0.0
 * @see JpaRepository
 * @see org.springframework.data.repository.CrudRepository
 * @see org.springframework.data.repository.PagingAndSortingRepository
 * @author a-cubica-r
 *
 */
@Repository
public interface ${jpaEntityClass}Repository extends JpaRepository<${jpaEntityClass}, ${jpaEntityIdClass}> {

	// Insert specific finders here 

	//List<${jpaEntityClass}> findByXxx(String xxx);

	//List<${jpaEntityClass}> findByXxxStartingWith(String xxx);

	//List<${jpaEntityClass}> findByXxxContaining(String xxx);

	//List<${jpaEntityClass}> findByYyy(BigDecimal yyy);

	//List<${jpaEntityClass}> findByXxxContainingAndYyy(String xxx, BigDecimal yyy);
}
